/* Button Styling */

.button {
  background-color: #F8F8F8;
  padding: 7px 30px;
  border: 1px solid black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 15px 0px;
  text-decoration: none;
}

/* .back {
  background-color: #F1F9FF;
}

.next {
  background-color: #BCE0FD;
} */

